

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #ffffff96;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    opacity: transparent;
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
  }
  .form input {
    font-family: "Segoe UI";
    outline: 0;
    /* background: #4f4e4e; */
    background: #B377C2;
    color: #4f4e4e;
    width: 100%;
    border-radius: 8px;
    border: 2px solid #fff;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
}
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    outline: 0;
    background: #fff;
    width: auto;
    border-radius: 5px;
    padding: 8px 30px 8px 30px;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    float: left;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #4f4e4e;
  }
  .form .message {
        /* margin: 15px 0 0; */
        color: #4f4e4e;
        display: inline-block;
        /* font-size: 12px; */
        margin-left: -62px;
  }
  .form, img {
    width: 80%;
    position: relative;
    right: 15%;
    margin-bottom: 10px;
  }
  .form .message a {
    color: #B377C2;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  .message-form {
    margin-top: 4rem;
    margin-left: -2rem;
}

  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  }

  .form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 20px;
  }

  .form-remember .form-remember_text{
    margin-top: -2px;
    color: #4f4e4e;
  }

  .form-group .form-remember {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
    display: flex;
  }
  .form-group .form-remember input[type='checkbox'] {
    display: inline-block;
    width: auto;
    margin: 0 10px 0 0;
  }
  .form-group .form-recovery {
    color: #B377C2;
    font-size: 12px;
    text-decoration: none;
  }
  .fa-eye {
    position: absolute;
    padding: 10px;
    color: #4F4E4E;
    margin-left: 14rem;
  }
  body {
    background: #ccc;
    font-family: 'Segoe UI';
  }